.rt-window {
  background-color: var(--rt-background);
  border-radius: var(--rt-corner-radius);
  font-family: var(--rt-font);
  font-size: var(--rt-font-size);
  color: var(--rt-textColor);
  line-height: var(--rt-line-height);
  clip-path: inset(0 round var(--rt-corner-radius));
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.rt-titlebar {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.rt-titlebar.mac {
  padding: 12px;
}

.rt-titlebar.windows {
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.181);
}

.rt-titlebar.linux {
  justify-content: flex-end;
}

.rt-title {
  font-size: 13px;
  color: var(--rt-titlebar-textColor);
  pointer-events: none;
}

.rt-title.mac,
.rt-title.linux {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rt-title.windows {
  margin-left: 6px;
}

.rt-window-controls {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--rt-icon-color);
}

.rt-window-controls.mac {
  gap: 8px;
}

.rt-window-controls.mac svg {
  opacity: 0;
}

.rt-window-controls.mac:hover svg {
  opacity: 1;
}

.rt-window-control.mac {
  display: flex;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  padding: 1px;
}

.rt-window-control.close.mac { background: var(--rt-btn-close); }
.rt-window-control.min.mac  { background: var(--rt-btn-min); }
.rt-window-control.max.mac  { background: var(--rt-btn-max); }

.rt-window-control.windows {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 20px;
}

.rt-window-control.close.windows:hover { background: var(--rt-btn-close); }
.rt-window-control.min.windows:hover  { background: var(--rt-btn-min); }
.rt-window-control.max.windows:hover  { background: var(--rt-btn-max); }

.rt-window-control.windows svg,
.rt-window-control.linux svg {
  width: 60%;
  height: 60%;
  display: block;
}

.rt-window-control.close.linux svg {
  width: 45%;
  height: 45%;
}

.rt-window-control.linux {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.rt-window-control.close.linux:hover::before { background: var(--rt-btn-close); }
.rt-window-control.min.linux:hover::before  { background: var(--rt-btn-min); }
.rt-window-control.max.linux:hover::before  { background: var(--rt-btn-max); }

.rt-window-control.linux::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  z-index: 1;
}

.rt-body {
  padding: 10px;
  overflow: auto;
  flex: 1;
}

.rt-row {
  margin: 4px 0;
}

.rt-row:not(.rt-input-row) > div {
  white-space: pre-wrap;
  word-break: break-all;
}

.rt-input-row {
  position: relative;
  white-space: pre-wrap;
  word-break: break-all;
  display: flex;
  align-items: center;
}

.rt-prompt {
  color: var(--rt-promptColor);
  padding-right: 6px;
  display: inline-block;
  white-space: pre;
  word-break: normal;
}

.rt-input-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.rt-input-text {
  white-space: pre;
  display: inline-block;
  line-height: 1;
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.rt-input {
  position: absolute;
  inset: 0;
  width: 100%;
  border: none;
  outline: none;
  color: transparent;
  caret-color: transparent;
  font: inherit;
  background: transparent;
}

.rt-input::selection {
  background: transparent;
  color: transparent;
}

.rt-real-caret {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  pointer-events: none;
}

.rt-cursor {
  position: absolute;
  left: var(--rt-cursor-left);
  background-color: var(--rt-cursor-color);
  pointer-events: none;
  z-index: 6;
  top: 2px;
}

.rt-cursor-line {
  width: 2px;
  height: 1.2em;
}

.rt-cursor-block {
  width: 0.6em;
  height: 1.4em;
  transform: translateY(-0.1em); 
}

.rt-cursor-underline {
  width: 0.6em;
  height: 0.2em;
  transform: translateY(1.1em); 
}

.rt-cursor-block.transparent {
  z-index: -1;
}

.rt-cursor-blink {
  animation: rt-cursor-blink var(--rt-cursor-rate) steps(1) infinite;
}

@keyframes rt-cursor-blink {
  0% { opacity: inherit; }
  50% { opacity: 0; }
}

.rt-completion-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5ch;
}

.rt-completion-option {
  white-space: nowrap;
}
